<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=cyrillic"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title></title>
</head>

</head>

<body>
  <div class="container-index">
    <div class="main-content">
      <div class="content-wrap admin">
        <h1 class="logo_accueille"><img src="img/logo_vino.png" alt="vino"></h1>
        <h2 class="slogan">Un petite verre de vino?</h2>
        <div class="btn-admin">
        <button class="btn btn-update" type="submit">Mettre à jours</button>
      </div>
      </div>
      <aside>
        <nav class="header-nav accueille">
          <a class="header-nav-link active accueille" href="#">Mes celliers</a>
          <a class="header-nav-link active accueille" href="ajouter_bouteille.html">Ajouter une bouteille au cellier</a>
          <a class="header-nav-link" href="identification.html"><i class="fa fa-sign-out fa-2x"
              aria-hidden="true"></i></a>
        </nav>
        <div class="btn-admin2">
          <button class="btn btn-update2" type="submit">Mettre à jours</button>
        </div>
        <div class="container_bouteille">
          <table>
            <tr>
              <div class="img_bouteille">
                <td><img src="img/bouteille.png" alt="bouteille"></td>
              </div>
              <td>
                <p>Nom : <b>Tenuta Il Falchetto Bricco Paradiso 2015</b></p>
                <p>Quantité : <b>5</b></p>
                <p>Pays : <b>Italie</b></p>
                <p>Type : <b>Vin rouge</b></p>
                <p>Millesime : <b>0</b></p>
                <a href="#">Voir SAQ</a>
                <div class="btn_bouteille">
                  <button class="btn btn-modifier inline" type="submit" formaction="#">Modifier</button>
                  <button class="btn btn-ajouter inline" type="submit" formaction="#">Ajouter</button>
                  <button class="btn btn-supprimer inline" type="submit" formaction="#">Supprimer</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="container_bouteille">
          <table>
            <tr>
              <div class="img_bouteille">
                <td><img src="img/bouteille.png" alt="bouteille"></td>
              </div>
              <td>
                <p>Nom : <b>Tenuta Il Falchetto Bricco Paradiso 2015</b></p>
                <p>Quantité : <b>5</b></p>
                <p>Pays : <b>Italie</b></p>
                <p>Type : <b>Vin rouge</b></p>
                <p>Millesime : <b>0</b></p>
                <a href="#">Voir SAQ</a>
                <div class="btn_bouteille">
                  <button class="btn btn-modifier inline" type="submit" formaction="#">Modifier</button>
                  <button class="btn btn-ajouter inline" type="submit" formaction="#">Ajouter</button>
                  <button class="btn btn-supprimer inline" type="submit" formaction="#">Supprimer</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="container_bouteille">
          <table>
            <tr>
              <div class="img_bouteille">
                <td><img src="img/bouteille.png" alt="bouteille"></td>
              </div>
              <td>
                <p>Nom : <b>Tenuta Il Falchetto Bricco Paradiso 2015</b></p>
                <p>Quantité : <b>5</b></p>
                <p>Pays : <b>Italie</b></p>
                <p>Type : <b>Vin rouge</b></p>
                <p>Millesime : <b>0</b></p>
                <a href="#">Voir SAQ</a>
                <div class="btn_bouteille">
                  <button class="btn btn-modifier inline" type="submit" formaction="#">Modifier</button>
                  <button class="btn btn-ajouter inline" type="submit" formaction="#">Ajouter</button>
                  <button class="btn btn-supprimer inline" type="submit" formaction="#">Supprimer</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </aside>
    </div>
  </div>
  <footer>2020 Vino | Group 1</footer>

</body>

</html>