<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=cyrillic"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title></title>
</head>

</head>

<body>
  <div class="container-ajouter">
    <div class="main-content-ajouter">
      <div class="content-wrap-ajouter">
        <a href="accueil_utilisateur.html" class="logo_ajouter"><img src="img/logo_vino.png" alt="vino"></a>
        <div class="img_b">
          <img src="img/bouteille2.png" alt="bouteille2">
        </div>
      </div>
      <aside class="section_deux">
        <nav class="header-nav ajouter">
          <a class="header-nav-link active ajouter" href="#">Mon celliere</a>
          <a class="header-nav-link active ajouter" href="#">Ajouter une bouteille au cellier</a>
        </nav>
        <h2 class="slogan-ajouter">Un petite verre de vino?</h2>
        <button class="btn btn-ajouter-bouteille2" type="submit" formaction="#">Ajouter la bouteille</button>
        <form class="form-ajouter" action="{{ route("accueil") }}" method="post">
          <label for="name">Nom:</label><br><br>
          <label for="search">Recherche:</label>
          <input class="input-ajouter" type="text" id="search" name="search"><br><br>
          <label for="vintage">Millesime:</label>
          <input class="input-ajouter" type="text" id="vintage" name="vintage"><br><br>
          <label for="quantity">Quantité:</label>
          <input class="input-ajouter" type="text" id="quantity" name="quantity"><br><br>
          <label for="date">Date achat:</label>
          <input class="input-ajouter" type="date" id="date" name="date"><br><br>
          <label for="price">Prix:</label>
          <input class="input-ajouter" type="text" id="price" name="price"><br><br>
          <label for="garde">Garde:</label>
          <input class="input-ajouter" type="text" id="garde" name="garde"><br><br>
          <label for="cellar">Nom du cellier:</label>
          <select class="input-ajouter" name="cellar" id="cellar">
            <option value="---">---</option>
            <option value="cellar1">cellar 1</option>
            <option value="cellar2">cellar 2</option>
            <option value="cellar3">cellar 3</option>
          </select><br><br>
          <label for="notes">Notes:</label>
          <input class="input-ajouter" name="notes" id="notes"><br><br>
        </form>
      </aside>
      <aside class="section_trois">
        <a class="header-nav-link aj" href="identification.html"><i class="fa fa-sign-out fa-2x"
            aria-hidden="true"></i></a>
        </nav>
        <div class="img_marg">
          <img src="img/bouteille3.png" alt="bouteille">
        </div>
        <button class="btn btn-ajouter-bouteille" type="submit" formaction="#">Ajouter la bouteille</button>
      </aside>
    </div>
  </div>
  <footer class="footer-ajouter">2020 Vino | Group 1</footer>
 
</body>
</html>