
# ignore IDE/hidden/OS cache files
.*
*~

.env
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini
node_modules
vendor

# ignore Composer downloads
/vendor/*
/bower_components/*

# keep some hiddens
!.env.example
!.htaccess
!/.gitignore
!/.travis.yml
!/.project
dataconf.php
.push.settings.jsonc
