.btn-ajouter-bouteille {
    display: none;
    display: inline;
    display: block;
    background-color: #007236;
    display: none;
}


.btn-ajouter-bouteille:hover {
background-color: #05552a;
}


