

body{
    background-image: url("../img/bg.jpg");
    display: flex;
    
}

#login-main{    

    justify-content: center;
     
}
#login-main>img{
    margin-left:20%;
}
#login-main>form>input{
    border-radius: 10px; 
    padding: 1rem;
    text-align:center;
    margin: 2%;

}

#bouton-bleu-main{
    background-color:blue;
    border-radius: 10px; 
    padding: 1rem;
    color: white;
    margin: 2%;
    padding-right: 150px;
    text-align:center;
    
}

#bouton-rouge-main{
    background-color:red;
    border-radius: 10px; 
    padding: 1rem;
    color: white;    
    margin: 2%;
    padding-right: 133px;
    text-align:center;
}

@media screen and (min-width: 756px) {
    #login-main{    
        width:100%;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 5;
         
    }
    
  }